---

- name: ensure package repository is installed
  template: >
    src=templates/rsyslog.repo.j2
    dest=/etc/yum.repos.d/rsyslog.repo
    owner=root
    group=root
    mode=0644

- name: ensure rsyslog package is installed
  yum: >
    name=rsyslog
    state=latest
