---

- name: configure rsyslog
  template: >
    src=templates/rsyslog.conf.j2
    dest=/etc/rsyslog.conf
    owner=root
    group=root
    mode=0644
    backup=yes

  notify: ["restart rsyslog"]

- name: configure local logging
  template: >
    src=templates/local.conf.j2
    dest=/etc/rsyslog.d/local.conf
    owner=root
    group=root
    mode=0600
    backup=yes

  notify: ["restart rsyslog"]

- name: configure remote logging
  template: >
    src=templates/remote.conf.j2
    dest=/etc/rsyslog.d/remote.conf
    owner=root
    group=root
    mode=0600
    backup=yes

  notify: ["restart rsyslog"]
