---

- name: configure rsyslog
  template: >
    src=templates/rsyslog.conf.j2
    dest=/etc/rsyslog.conf
    owner=root
    group=root
    mode=0644
    backup=yes

  notify: ["restart rsyslog"]

- name: enable rsyslog service
  service: >
    name=rsyslog
    state=started
    enabled=yes
