---

- name: ensure work directory exists
  file: >
    path={{ rsyslog_work_dir }}
    owner={{ rsyslog_user }}
    group={{ rsyslog_group }}
    mode=0755
    state=directory

- name: ensure includes directory exists
  file: >
    path=/etc/rsyslog.d
    owner=root
    group=root
    mode=0755
    state=directory

- block:

    - name: ensure package repository is installed
      template: >
        src=templates/rsyslog.repo.j2
        dest=/etc/yum.repos.d/rsyslog.repo
        owner=root
        group=root
        mode=0644

      when: ansible_os_family == "RedHat"

    - name: install ubuntu gpg key
      apt_key: >
        keyserver=keyserver.ubuntu.com
        id=AEF0CF8E

      when: ansible_os_family == "Debian"

    - name: ensure package repository is installed
      apt_repository: >
        repo="deb {{ rsyslog_repository_url }}"
        update_cache=yes
        state=present

      when: ansible_os_family == "Debian"

  when: rsyslog_repository_url is defined

- name: ensure rsyslog package is installed
  package: >
    name={{ item }}
    state=latest

  with_items: "{{ rsyslog_packages }}"
