---

- name: ensure rsyslog package repositories are installed
  copy: >
    src=files/rsyslog.repo
    dest=/etc/yum.repos.d/rsyslog.repo
    owner=root
    group=root
    mode=0600

- name: ensure rsyslog process is monitored by snmpd
  template: >
    src=templates/rsyslog.snmpd.conf
    dest={{ snmp_include_dir }}/rsyslog.conf
    owner=root
    group=root
    mode=0600
  notify:
    - reload snmpd

- name: ensure rsyslog package is installed
  yum: >
    name=rsyslog
    state=latest

- name: ensure client configuration exists
  template: >
    src=templates/rsyslog.conf.j2
    dest=/etc/rsyslog.conf
    owner=root
    group=root
    mode=0600
  notify:
    - restart rsyslog
