---

- name: include setup tasks
  include: setup.yml
  tags: ["rsyslog:setup", "setup"]

- name: include installation tasks
  include: install.yml
  tags: ["rsyslog:install", "install"]

- name: include general configuration tasks
  include: configure.yml
  tags: ["rsyslog:configure", "configure"]

- name: include local logging tasks
  include: local.yml
  tags: ["rsyslog:configure", "configure"]
  when: rsyslog_enable_local_logging

- name: include remote logging tasks
  include: remote.yml
  tags: ["rsyslog:configure", "configure"]
  when: rsyslog_destinations | length > 0

- name: include relay server configuration tasks
  include: relay.yml
  tags: ["rsyslog:relay", "relay"]
  when: false

- name: include logrotate partial configuration tasks
  include: logrotate.yml
  tags: ["rsyslog:logrotate", "logrotate"]
  when: rsyslog_rotated_logs is defined
