---

- include: install/redhat.yml
  when: ansible_os_family == 'RedHat'

- include: install/debian.yml
  when: ansible_os_family == 'Debian'

- name: ensure work directory exists
  file: >
    path={{ rsyslog_work_directory }}
    owner={{ rsyslog_user }}
    group={{ rsyslog_group }}
    mode=0755
    state=directory

- name: ensure includes directory exists
  file: >
    path=/etc/rsyslog.d
    owner=root
    group=root
    mode=0755
    state=directory

- name: configure rsyslog
  template: >
    src=templates/rsyslog.conf.j2
    dest=/etc/rsyslog.conf
    owner=root
    group=root
    mode=0600
    backup=yes
  notify:
    - restart rsyslog

- name: configure local logging
  template: >
    src=templates/local.conf.j2
    dest=/etc/rsyslog.d/local.conf
    owner=root
    group=root
    mode=0600
    backup=yes
  notify:
    - restart rsyslog

- name: configure remote logging
  template: >
    src=templates/remote.conf.j2
    dest=/etc/rsyslog.d/remote.conf
    owner=root
    group=root
    mode=0600
    backup=yes
  notify:
    - restart rsyslog

- include: relay.yml
  when: "'rsyslog_relays' in group_names"

- include: monitor.yml
  when:
    - rsyslog_enable_snmp_monitor
