---

- name: include setup tasks
  include: setup.yml

- name: include installation tasks
  include: install.yml

- name: include general configuration tasks
  include: configure.yml


- include: relay.yml
  when: "'rsyslog_relays' in group_names"
- name: include process monitoring tasks
  include: monitor.yml
  when: rsyslog_enable_snmp_monitor

- name: include logrotate partial configuration tasks
  include: logrotate.yml
  when: rsyslog_rotated_logs is defined
  tags: ["logrotate"]
