---

- name: include os-specific variables
  include_vars: "{{ item }}"
  with_first_found:
    - "vars/{{ ansible_distribution | lower }}_{{ ansible_distribution_major_version }}.yml"
    - "vars/{{ ansible_os_family | lower }}.yml"
    - "vars/main.yml"
