# format output as json
template(name="remote_json" type="list" option.json="on") {
	constant(value="{")
	constant(value="\"@timestamp\":\"")         property(name="timegenerated" dateFormat="rfc3339")
	constant(value="\",\"@rsyslog_version\":\"{{ rsyslog_version }}")
	constant(value="\",\"message\":\"")         property(name="msg")
	constant(value="\",\"host\":\"")            property(name="fromhost")
	constant(value="\",\"host_ip\":\"")         property(name="fromhost-ip")
	constant(value="\",\"severity\":\"")  property(name="syslogseverity-text")
	constant(value="\",\"facility\":\"")  property(name="syslogfacility-text")
	constant(value="\",\"program\":\"")         property(name="programname")
	constant(value="\",\"pid\":\"")             property(name="procid")
	constant(value="\"}\n")
}
