{{ ansible_managed | comment }}

kern.*                          /dev/console
*.emerg                         :omusrmsg:*

authpriv.*                      /var/log/auth.log
mail.*                          /var/log/mail.log
cron.*                          /var/log/cron.log
uucp,news.crit                  /var/log/spooler.log
local7.*                        /var/log/boot.log
*.info;mail,authpriv,cron.none  /var/log/messages
