{{ ansible_managed | comment }}

kern.*				 /dev/console
*.emerg        :omusrmsg:*

authpriv.*     /var/log/secure
mail.*         /var/log/maillog
cron.*         /var/log/cron
uucp,news.crit /var/log/spooler
local7.*       /var/log/boot.log

*.info;mail.none;authpriv.none;cron.none /var/log/messages
