{{ ansible_managed | comment }}

{% include "json.part.j2" %}

{% for remote in rsyslog_remote_outputs %}
*.* action(type="omfwd"
	queue.type="LinkedList"
	queue.filename="{{ remote.server }}.queue"
	action.resumeRetryCount="-1"
	queue.saveOnShutdown="on"
	{% if remote.format == "json" %}template="remote_json"{% endif %}
	target="{{ remote.server }}" port="{{ remote.port | default("514") }}" protocol="{{ remote.protocol | default("tcp") }}"
)
{% else %}
#
# uh-oh!
#
# It looks like no remote destinations have been configured for this
# server to send its logs to!
#
# To configure a destination, add the following to the appropriate
# group_vars or host_vars file:
#
#   rsyslog_remote_outputs: ["server.example.com"]
{% endfor %}
