{{ ansible_managed | comment }}

{% include "json.part.j2" %}

{# don't configure self as remote log destination #}
{%- for remote in rsyslog_destinations -%}
{%- if remote != ansible_fqdn -%}

#
# remote server: {{ remote.server }}:{{ remote.port }}
# log format: {{ remote.format }}
#
$ActionQueueFileName        forward_logs_to_{{ remote }}
$ActionQueueMaxDiskSpace    1g
$ActionQueueSaveOnShutdown  on
$ActionQueueType            LinkedList
$ActionResumeRetryCount     -1
$ActionFileDefaultTemplate  {{ rsyslog_action_template }}
*.* @@{{ remote.server }}:{{ remote.port | default(rsyslog_port) }}{% if server.format == "json" %};as_json{% endif %}

{%- endfor -%}
{%- endif -%}
{%- endfor -%}
