{{ ansible_managed | comment }}

{% include "json.part.j2" %}

{% for remote in rsyslog_destinations %}
*.* action(type="omfwd"
	target="{{ remote.server }}"
	port="{{ remote.port | default("514") }}"
	protocol="{{ remote.protocol | default("tcp") }}
	action.resumeRetryCount="-1"
	queue.fileName="{{ remote.server }}.queue"
	queue.size="1g"
	queue.type="LinkedList"
	queue.saveOnShutdown="on"
	template="remote_json"
)
{% else %}
#
# uh-oh!
#
# It looks like no remote destinations have been configured for this
# server to send its logs to!
#
# To configure a destination, add the following to the appropriate
# group_vars or host_vars file:
#
#   syslog_destinations: ["server.example.com"]
{% endfor %}
