{{ ansible_managed | comment }}

{% for module in rsyslog_modules %}
module(load="{{ module }}")
{% endfor %}

{% if (ansible_os_family == "RedHat" and ansible_distribution_major_version == "7") %}
{% if "imuxsock" not in rsyslog_modules %}
module(load="imuxsock")
{% endif %}

$OmitLocalLogging off
$SystemLogSocketName /run/systemd/journal/syslog
{% endif %}

$ActionFileDefaultTemplate {{ rsyslog_default_template }}

$WorkDirectory {{ rsyslog_work_dir }}
$LocalHostName {{ inventory_hostname }}
$PreserveFQDN {% if rsyslog_preserve_fqdn %}on{% else %}off{% endif %}

$FileOwner {{ rsyslog_user }}
$FileGroup {{ rsyslog_group }}
$FileCreateMode {{ rsyslog_file_mode | default('0644') }}

$DirOwner {{ rsyslog_user }}
$DirGroup {{ rsyslog_group }}
$DirCreateMode {{ rsyslog_dir_mode | default('0755') }}

{% if (rsyslog_umask is defined) and (rsyslog_umask | string) %}
$Umask {{ rsyslog_umask }}
{% endif %}

$IncludeConfig /etc/rsyslog.d/*.conf
