{{ ansible_managed | comment }}

{% for module in rsyslog_modules %}
module(load="{{ module }}")
{% endfor %}

{# enable systemd journal as an input for rhel/centos 7 systems #}
{% if (ansible_os_family == "RedHat" and ansible_distribution_major_version == "7") %}
module(load="imjournal")
$IMJournalStateFile {{ rsyslog_imjournal_file }}
{% endif %}

$WorkDirectory {{ rsyslog_work_directory }}
$PreserveFQDN {{ rsyslog_preserve_fqdn }}

{% if ansible_os_family == "RedHat" %}
$OmitLocalLogging {{ rsyslog_omit_local_logging }}

$FileUser {{ rsyslog_user }}
$FileGroup {{ rsyslog_group }}
$FileCreateMode 0644

$DirUser {{ rsyslog_user }}
$DirGroup {{ rsyslog_group }}
$DirCreateMode 0700
{% endif %}

$IncludeConfig /etc/rsyslog.d/*.conf
