{{ ansible_managed | comment }}

{% for module in rsyslog_modules %}
module(load="{{ module }}")
{% endfor %}

{% if (ansible_os_family == "RedHat" and ansible_distribution_major_version == "7") %}
# enable systemd journal as an input
module(load="imjournal")
$IMJournalStateFile {{ rsyslog_imjournal_file }}
{% endif %}

$WorkDirectory {{ rsyslog_work_dir }}
$PreserveFQDN {{ rsyslog_preserve_fqdn }}

$OmitLocalLogging {{ rsyslog_omit_local_logging }}

$FileUser {{ rsyslog_user }}
$FileGroup {{ rsyslog_group }}
$FileCreateMode {{ rsyslog_file_mode | default('0644') }}

$DirUser {{ rsyslog_user }}
$DirGroup {{ rsyslog_group }}
$DirCreateMode {{ rsyslog_dir_mode | default('0755') }}

{% if (rsyslog_umask is defined) and (rsyslog_umask | string) %}
$Umask {{ rsyslog_umask }}
{% endif %}

$IncludeConfig /etc/rsyslog.d/*.conf
